$border-width: 6px;
$color-bg: #2f487c;
$color-bg-hl: #3f67cd;
$color-bd: #1c2a49;
$color-bd-hl: #5f87dd;
$font-size-heading: 22px;
$font-size-content: 18px;
$slot-size: 105px;

section {
  background: linear-gradient(120deg,
    $color-bg 10%,
    $color-bg-hl 30%,
    $color-bg-hl 40%,
    $color-bg 60%,
    $color-bg-hl 80%,
    $color-bg);
}

* {
  box-sizing: border-box;
  color: white;
  position: relative;
}

.box {
  border-color: $color-bd-hl $color-bd $color-bd $color-bd-hl;
  border-style: solid;
  border-width: $border-width;
}

header {
  display: flex;
  width: 100%;
}

header div.slot {
  background: linear-gradient(90deg,
    $color-bg,
    $color-bg-hl 30%,
    $color-bg 80%,
    $color-bg-hl);
  color: black;
  cursor: default;
  font-size: $font-size-heading;
  min-width: $slot-size;
  padding: 10px 14px 14px 14px;
  text-align: center;
  text-shadow: 2px 2px 2px $color-bd-hl;
  width: $slot-size;
}

header div.heading {
  border-bottom-style: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-kerning: none;
  font-size: $font-size-heading;
  flex-grow: 1;
  height: 63px;
  padding: 14px;
  width: auto;

  hr {
    border-color: $color-bd;
    border-width: 2px;
  }
}

.hack-slot {
  border-color: $color-bd-hl $color-bd $color-bd $color-bd-hl;
  border-right-style: none;
  border-bottom-style: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  height: 0;
  padding: 0;
  width: $slot-size;
}

.hack-heading {
  border-color: $color-bd-hl $color-bd $color-bd $color-bd-hl;
  border-top-style: none;
  border-bottom-style: none;
  border-radius: 0;
  height: $border-width;
  margin-left: $slot-size;
  padding: 0;
  position: relative;
  width: auto;
}

article {
  border-top-style: none !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 14px;
  width: 100%;
  font-size: $font-size-content;
}
