mat-toolbar-row {
  height: 100%;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f487c;
  color: white;
  text-align: center;
}

.copyright {
  margin-top:10px;
  text-align:center;
  font-size:15px;
  color: gray;
  margin-bottom:0;
}
