div#progressChart {
    min-width: 310px;
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
}
/* Checkboxes version */

/* File slot glow */

label .glow {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--zelda-file-button-width);
  height: calc(47px*var(--scaling-factor));
  border-radius: calc(4px*var(--scaling-factor));
  display: none;
}

label:hover .glow {
  display: block;
  transition:all 0.2s ease;
  background: rgba(200, 200, 200, 0.5);
  box-shadow: 0 0 20px rgba(200, 200, 200, 0.7);
}


label::before {
  content: "";
}

input + .zelda-file-box label {
  width: 100%;
  margin: 0;
  cursor: pointer;
}

input + .zelda-file-box label ~ * {
  transition: opacity 1s ease;
}

input:not(:checked) + .zelda-file-box label ~ * {
  border-top-style: none;
  border-bottom-style: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

input:checked + .zelda-file-box label ~ * {
  opacity: 1;
  height: auto;
}

input + .zelda-file-box label hr {
  opacity: 0;
}

input:checked + .zelda-file-box label hr {
  opacity: 1;
}

label .zelda-file-box-filename {
  border-bottom-style: solid;
}

input:checked + .zelda-file-box label .zelda-file-box-filename {
  border-bottom-style: hidden;
}


.zelda-file-box-total {
  height: calc(47px*var(--scaling-factor));
  width: calc(165px*var(--scaling-factor));;
  display: none;
}

input:checked + .zelda-file-box label .zelda-file-box-total {
  opacity: 0;
  width: 0;
  padding: 0;
  border-width: 0;
}

@media only screen and (min-width: 700px) {
  .zelda-file-box-total {
      display: initial;
  }
}

input:checked + .zelda-file-box {
  clip-path: polygon(
      0 0, 
      100% 0, 
      100% calc(100% - 47px*var(--scaling-factor)), 
      var(--zelda-button-width) calc(100% - 47px*var(--scaling-factor)), 
      var(--zelda-button-width) 100%, 
      0 100%
    );
}