mat-card > a {
  text-decoration: none;
}

img[mat-card-avatar] {
  border-radius: 0;
  object-fit: contain;
}

mat-card-actions {
  text-align: center;
}

mat-card-title > fa-icon {
  font-size: 16px;
  vertical-align: center;
}

mat-card-actions fa-icon {
  vertical-align: center;
}

mat-card-actions a {
  color: white;
}
