<mat-card>
  <a [routerLink]="data.routingURL">
    <mat-card-header>
      <mat-card-title>
        {{ data.title }}
      </mat-card-title>
      <mat-card-subtitle>
        <ng-container *ngIf="total != undefined">Code decompiled: <strong>{{ total }}</strong></ng-container>
        &nbsp;
      </mat-card-subtitle>
    </mat-card-header>
  </a>
  <mat-card-actions>
    <a mat-button *ngIf="data.links.hasOwnProperty('github')" [href]="data.links.github" title="Github">
      <fa-icon [icon]="github"></fa-icon>
      <div class="caption">GitHub</div>
    </a>
  </mat-card-actions>
</mat-card>

