<mat-card>
  <a [routerLink]="'/games/' + data.slug">
    <mat-card-header>
      <mat-card-title>
        {{ data.title }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="total!=null">Percent completion: <strong>{{ (total * 100).toFixed(2) }}%</strong></mat-card-subtitle>
    </mat-card-header>
  </a>
  <mat-card-actions>
    <a mat-icon-button *ngIf="data.links.hasOwnProperty('github')" [href]="data.links.github" title="Github">
      <fa-icon [icon]="github"></fa-icon>
    </a>
    <a mat-icon-button *ngIf="data.links.hasOwnProperty('trello')" [href]="data.links.trello" title="Trello">
      <fa-icon [icon]="trello"></fa-icon>
    </a>
  </mat-card-actions>
</mat-card>

