$color-bd: #1c2a49;

hr {
  border-color: $color-bd;
  border-width: 1px;
}

.key {
  float: left;
}

// .value.metric {
//   min-width: 4em;
//   text-align: right;
// }

.matching {
  color: #01ce47;
}

.nonmatching {
  color: #ffc107;
}

.value.date {
  color: #00ffff;
  float: right;
}



table {
  width: 100%;
}

thead th:not(:first-of-type) {
  text-align: right;
}

thead th:first-of-type {
  text-align: left;
}

tbody th {
  text-align: left;
  width: 70%;
  font-weight: normal;
}

tbody td {
  text-align: right;
  white-space: nowrap;
}
