$color-bd: #1c2a49;

hr {
  border-color: $color-bd;
  border-width: 1px;
}

.key {
  float: left;
}

.nonmatching {
  color: #DDDF0D; // Dark Blue Highcharts theme
}

.matching {
  color: #55BF3B; // Dark Blue Highcharts theme
}

.value.date {
  color: #00ffff;
  float: right;
}


table {
  width: 100%;
}

thead th:not(:first-of-type) {
  text-align: right;
}

thead th:first-of-type {
  text-align: left;
}

tbody th {
  text-align: left;
  width: 70%;
  font-weight: normal;
}

tbody td {
  text-align: right;
  white-space: nowrap;
}

.box-wrapper {
  margin: 1rem 0rem;
}
