$color-bd: #1c2a49;

hr {
  border-color: $color-bd;
  border-width: 1px;
}

.key {
  float: left;
}

.nonmatching {
  // color: #ffc107;
  // color: #F3E796; // Avocado
  // color: #f45b5b; // Sand Signika 
  color: #DDDF0D; // 
}

.matching {
  // color: #01ce47;
  // color: #95C471; // Avocado
  // color: #8085e9; // Sand Signika
  color: #55BF3B; // 
}

.value.date {
  color: #00ffff;
  float: right;
}


table {
  width: 100%;
}

thead th:not(:first-of-type) {
  text-align: right;
}

thead th:first-of-type {
  text-align: left;
}

tbody th {
  text-align: left;
  width: 70%;
  font-weight: normal;
}

tbody td {
  text-align: right;
  white-space: nowrap;
}

.box-wrapper {
  margin: 1rem 0rem;
}
