<mat-toolbar color="primary">
  <span class="spacer"></span>
  <div id="toolbar-contents">
    <a id="icon-link" routerLink="/"><img src="/assets/img/logo.png"/></a>
    <span id="app-title">Zelda RET</span>
    <button mat-button [matMenuTriggerFor]="menu">
      Games
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let game of games" [routerLink]="'/games/' + game.slug">
        <span>{{ game.title }}</span>
      </button>
    </mat-menu>
    <a mat-icon-button href="https://zelda64.discord.gg/">
      <fa-icon [icon]="discord"></fa-icon>
    </a>
  </div>
  <span class="spacer"></span>
</mat-toolbar>