.spacer {
  flex: 100%;
  height: 100%;
}

#toolbar-contents {
  align-items: center;
  display: flex;
  flex: 1 0.4 800px;
  height: 100%;
}

#icon-link {
  height: 90%;
  align-items: center;
  display: inline-flex;
  padding: 1em;
  gap: 0.5em;
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }

  img {
    height: 100%;
  }
}

#app-title {
  margin: 0 1em;
}

a[mat-icon-button] {
  margin-left: auto;
}

::ng-deep .mat-menu-panel {
  background-color: rgb(29, 48, 95);
}
