<mat-toolbar color="primary" fxLayout="row">
  <span class="spacer"></span>
  <div id="toolbar-contents" >
    <a id="icon-link" routerLink="/"><img src="/assets/img/logo.png"/>ZeldaRET</a>
    <!-- <span id="app-title">ZeldaRET</span> -->
    <button mat-button [matMenuTriggerFor]="menu">
      Games
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let game of games" [routerLink]="'/games/' + game.slug">
        <span>{{ game.title }}</span>
      </button>
    </mat-menu>
    <a mat-icon-button href="https://discord.zelda64.dev/">
      <fa-icon [icon]="discord"></fa-icon>
    </a>
  </div>
  <span class="spacer"></span>
</mat-toolbar>
