<mat-card>
  <a [href]="data.routingURL">
    <mat-card-header>
      <mat-card-title>
        <fa-icon [icon]="external"></fa-icon> {{ data.title }}
      </mat-card-title>
      <mat-card-subtitle>Code decompiled: <strong>{{ total }}</strong></mat-card-subtitle>
    </mat-card-header>
  </a>
  <mat-card-actions>
    <a mat-icon-button *ngIf="data.links.hasOwnProperty('github')" [href]="data.links.github" title="Github">
      <fa-icon [icon]="github"></fa-icon>
    </a>
    <a mat-icon-button *ngIf="data.links.hasOwnProperty('progress')" [href]="data.links.progress" title="Progress">
      <fa-icon [icon]="chart"></fa-icon>
    </a>
  </mat-card-actions>
</mat-card>

