/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

fa-icon {
  font-size: 28px;
  vertical-align: unset;
}

a {
  color: gold;
}

a:visited:not([mat-icon-button]) {
  color: darkgoldenrod;
}

markdown h1 {
  display: none !important;
}

markdown h2 {
  border-bottom: 1px solid white;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 1rem;
}
